@model Tactsoft.Application.ViewModels.VmEntities.CityVm

@{
    ViewData["Title"] = "Details";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Enroll City Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Enroll City Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <!-- Entry Form Start -->
    <div class="container-fluid">
        <div class="card" style="">
            <div class="border-bottom bg-light pt-2  mb-4 rounded-top">
                <h6 class="mx-3">Enroll City</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StateId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.State.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                </dl>
            </div>
            <div class="border-top px-3 py-2 d-flex justify-content-between">
                <a asp-action="Index">Back to List</a>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
</section>
