@model Tactsoft.Application.ViewModels.VmEntities.StudentVm

@{
    ViewData["Title"] = "Details";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Enroll Student Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Enroll Student Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <!-- Entry Form Start -->
    <div class="container-fluid">
        <div class="card" style="">
            <div class="border-bottom bg-light pt-2  mb-4 rounded-top">
                <h6 class="mx-3">Enroll Student</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MobileNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MobileNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CountryId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Country.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StateId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.State.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CityId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SSC)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SSC)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HSC)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HSC)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Bachelor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Bachelor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Masters)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Masters)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProfilePhoto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProfilePhoto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                </dl>
            </div>
            <div class="border-top px-3 py-2 d-flex justify-content-between">
                <a asp-action="Index">Back to List</a>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
</section>
